fastapi
uvicorn
websockets
gymnasium
numpy
torch
stable-baselines3
chromadb
sentence-transformers
langchain
langchain-community
langchain-huggingface
langchain-openai
langgraph
psutil
python-dotenv
requests
pydantic
google-generativeai
python-socketio
groq
langchain-groq
